.grid {
  &__content {
    --gap: 1rem;
    --number-of-imgs: 16;
    --cards-visible: 1;
    --card-width: calc(
      (100% - ((var(--cards-visible) - 1) * var(--gap))) / var(--cards-visible)
    );
    --width: calc(
      (var(--card-width) + var(--gap)) * var(--number-of-imgs) - var(--gap)
    );

    width:100%;
    overflow: hidden;

    @media screen and (min-width: 20rem) {
      --cards-visible: 2;
    }

    @media screen and (min-width: 30rem) {
      --cards-visible: 3;
    }

    @media screen and (min-width: 40rem) {
      --cards-visible: 4;
    }
  }

  &__text {
    font-family: "Oswald", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    width: var(--width);
    margin-top: 0.5rem;
    pointer-events: none;
  }

  &__row {
    width: var(--width);
    display: flex;
    gap: var(--gap);
    margin-top: 1rem;

    &:first-of-type   {
      margin-top: 0
    }
  }

  &__text, &__row {
    &:nth-of-type(odd) {
      animation: rotate-odd calc(var(--duration) * 1s) linear infinite;
    }

    &:nth-of-type(even) {
      transform: translateX(calc(-50% - var(--gap, 0) / 2));
      animation: rotate-even calc(var(--duration) * 1s) linear infinite;
    }
  }

  p.grid__text {
    animation-direction: alternate;
  }

  &__row {
    &:hover {
      animation-play-state: paused;
    }
  }

  &__img {
    width: calc(
      (100% - var(--gap) * (var(--number-of-imgs) - 1))  / var(--number-of-imgs)
    );
  }

  @keyframes rotate-odd {
    0%  {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - var(--gap, 0) / 2));
    }
  }

  @keyframes rotate-even {
    0% {
      transform: translateX(calc(-50% - var(--gap, 0) / 2));
    }

    100%  {
      transform: translateX(0);
    }
  }
}