.hero {
  position: relative;
  min-height: 500vh;

  &__content {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__figure {
    &__left,
    &__right {
      overflow: visible;
    }
  }
}